<p>
    <strong>EENHEID LOS SANTOS</br>
    BASISTEAM MISSION ROW</strong>
</p>

<p style="text-align: center; ">
    <strong>MINI - PROCES - VERBAAL</strong></br>
    <span>beschikking</span>
</p>

<p>
    Ik, verbalisant, {naam}, van Politie Eenheid Los Santos, verklaar het volgende.</br>
    Op {datum}, rond {time}, bevond ik mij in uniform gekleed en met algemene politietaak belast op de openbare weg.
</p>

<p><strong>BEVINDINGEN :</strong></p>
<table>
    <tr>
        <td><strong>Locatie :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Overtreding :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Te betalen :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Verklaring :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>
</table>   

<p><i>In geval van snelheid :</i></p> 
<table>
    <tr>
        <td><strong>Gemeten snelheid :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Toegestane snelheid :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Correctie :</strong></td>
        <td> - 10% </td>
    </tr>

    <tr>
        <td><strong>Uiteindelijke snelheid :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>
</table> 
