<p>
    <strong>EENHEID LOS SANTOS</br>
    BASISTEAM MISSION ROW</strong>
</p>

<p style="text-align: center; ">
    <strong>PROCES - VERBAAL</strong></br>
    <span>aanhouding</span>
</p>

<p>
    Ik, verbalisant, {naam}, van Politie Eenheid Los Santos, verklaar het volgende.</br>
    Op {datum}, rond {time}, bevond ik mij in uniform gekleed en met algemene politietaak belast op de openbare weg.
</p>

Daar heb ik aangehouden: <br/>
Een verdachte die op basis van nader identiteitsonderzoek, bleek te zijn: <br/>
<table>
    <tr>
        <td>Achternaam :</td>
        <td>janklasen</td>
    </tr>

    <tr>
        <td>Volledige naam :</td>
        <td>piet janklasen</td>
    </tr>

    <tr>
        <td>Geboren :</td>
        <td>00/00/0000</td>
    </tr>

    <tr>
        <td>Geslacht :</td>
        <td>onbekend</td>
    </tr>

    <tr>
        <td>Nationaliteit :</td>
        <td>onbekend</td>
    </tr>

    <tr>
        <td>Adres :</td>
        <td>onbekend</td>
    </tr>
</table>
<p></p>
<table>
    <tr>
        <td>Identiteitsfouillering :</td>
        <td> Ja / Nee</td>
    </tr>

    <tr>
        <td>Veiligheidsfouillering :</td>
        <td> Ja / Nee</td>
    </tr>

    <tr>
        <td>Inbeslagneming :</td>
        <td> Ja / Nee, zo ja wat? </td>
    </tr>

    <tr>
        <td>Gebruik transportboeien :</td>
        <td> Ja / Nee </td>
    </tr>

    <tr>
        <td>Gebruik geweld :</td>
        <td> Ja / Nee </td>
    </tr>

    <tr>
        <td>Rechtsbijstand :</td>
        <td> Ja / Nee </td>
    </tr>
</table>

<p>
    Reden van aanhouding:<br/>
    De verdachte werd aangehouden als verdachte van overtreding van artikel(en).
</p>

<p>BEVINDINGEN</p>
<p>Ik heb de verdachte tijdens de aanhouding verteld dat hij/zij zich mag beroepen op zijn zwijgrecht.</p>

<p>
    Voorgeleiding:<br/>
    Op genoemd bureau werd de verdachte ten spoedigste voorgeleid voor de hulpofficier van justitie. Deze gaf op te TIJD uur het bevel de verdachte op te houden voor onderzoek.
</p>

<p>Waarvan door mij, {naam}, op ambtseed is opgemaakt, dit proces-verbaal te Los Santos op {datum/tijd}.</p>

<p>
    Strafeis: <br/>
    Gekregen straf:
</p>