<p>
    <strong>EENHEID LOS SANTOS</br>
    BASISTEAM MISSION ROW</strong>
</p>

<p style="text-align: center; ">
    <strong>MINI - PROCES - VERBAAL</strong></br>
    <span>beschikking</span>
</p>

<p>
    Ik, verbalisant, {naam}, van Politie Eenheid Los Santos, verklaar het volgende.</br>
    Op {datum}, rond {time}, bevond ik mij in uniform gekleed en met algemene politietaak belast op de openbare weg.
</p>

<p><strong>BEVINDINGEN :</strong></p>
<table>
    <tr>
        <td><strong>Voertuig type: </strong></td>
        <td> zet uw gegevens hier Auto / Motor / Scooter </td>
    </tr>

    <tr>
        <td><strong>Model / Type: :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Kleur :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Kenteken :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Verklaring :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>

    <tr>
        <td><strong>Op te halen vanaf :</strong></td>
        <td> zet uw gegevens hier </td>
    </tr>
</table>   